
    <nav class="navbar">
        <div class="navcontainer">
            <div class="logo">
                <a href="{% url "index" %}">ChatApp</a>
            </div>
            <div class="menu-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-list">
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="#">Chat Rooms</a></li>
                <li><a href="#">Contact</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url "logout" %}">Logout</a></li>
                <li class="icon">
                    <i class="fa-solid fa-user"></i>
                </li>
                <h3 style="
                    margin: 0px;"
                >{{request.user}}</h3>
                {% else %}
                <li><a href="{% url "login_page" %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <!-- Your chat application content goes here -->

