
    <nav class="navbar">
        <div class="navcontainer">
            <div class="logo">
                <a href="{% url "index" %}">ChatApp</a>
            </div>
            <div class="menu-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="nav-list">
                <li><a href="{% url "home" %}">Home</a></li>
                <li><a href="#">Chat Rooms</a></li>
                <li><a href="#">Contact</a></li>
                <li class="login"><a href="{% url "login_page" %}">Login</a></li>
            </ul>
        </div>
    </nav>

    <!-- Your chat application content goes here -->
