{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/login.css" %}'>
    <title>Register</title>
    <link rel='stylesheet' href='{% static "css/nav.css" %}'>
    <link rel='stylesheet' href='{% static "css/footer.css" %}'>
    <script src="{% static 'js/nav.js' %}" type="text/javascript"></script>
</head>
<body class="">
    {% block nav %}{% include 'nav.html' %}{% endblock nav %}
    <div class="outside">

        <div class="container">
            <form  method="post" class="register-form">
                {% csrf_token %}
                
                <h2>Register</h2>
                <div class="register">
                    <div class="content">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" required>
                    </div>
                    <div class="content">
                        
                        <label for="firstname">Firstname:</label>
                        <input type="text" id="firstname" name="firstname" required>
                    </div>
                    <div class="content">
                        
                        <label for="password">Lastname:</label>
                        <input type="text" id="lastname" name="lastname" required>
                    </div>
                    <div class="content">
                        
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <button type="submit">Register</button>
                </div>
                <p class="login-link">Already have an account? <a href="{% url "login_page" %}">Login</a></p>
            </form>
        </div>
    </div>
    {% block footer %}{% include 'footer.html' %}{% endblock footer %}
</body>
</html>
